
server{

   index index.html index.htm index.nginx-debian.html;
   client_max_body_size 100M;
   server_name chat.${DOMAIN_URL};
   resolver 127.0.0.11 valid=10s;
   resolver_timeout 5s;

       location / {
			set $target http://chat_frontend:${CHAT_FRONTEND_PORT};
			proxy_set_header        Host $host;
			proxy_set_header        X-Real-IP $remote_addr;
			proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header        X-Forwarded-Proto $scheme;
			proxy_pass          	$target;
			proxy_read_timeout  90;
			proxy_set_header 'Access-Control-Allow-Origin' '*';
        }

		# Socket.IO proxy
	    location /ws/ {
	        proxy_pass http://llm_fast_api_backend:${CHAT_BACKEND_PORT};  
	
	        proxy_http_version 1.1;
	        proxy_set_header Upgrade $http_upgrade;
	        proxy_set_header Connection "Upgrade";
	
	        proxy_set_header Host $host;
	        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	        proxy_set_header X-Forwarded-Proto $scheme;
	
	        # Prevent buffering
	        proxy_buffering off;
	    }

        location /api {
			set $target http://llm_fast_api_backend:${CHAT_BACKEND_PORT};
	        proxy_set_header        Host $host;
			proxy_set_header        X-Real-IP $remote_addr;
			proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header        X-Forwarded-Proto $scheme;
			proxy_pass          	$target;
	        proxy_read_timeout  900;
            proxy_set_header 'Access-Control-Allow-Origin' '*';
			proxy_buffering off;
            proxy_cache off;
            proxy_http_version 1.1;
        }

}


